@using Baker.WebUI.Mediator.Results.TestimonialResults
@model GetTestimonialByIdQueryResult

@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <br />
    <h1>Referans Güncelleme</h1>
    <br />
    <form method="post" asp-controller="Testimonial" asp-action="UpdateTestimonial" enctype="multipart/form-data">       
        <input type="hidden" asp-for="ID" />
        <br />
        <input type="hidden" asp-for="TestimonialImageURL" />
        <label>Referans Adı</label>
        <input type="text" asp-for="TestimonialFullName" class="form-control" id="floatingInput" placeholder="Referans Adı" required />
        <br />
        <label>Yorum</label>
        <textarea asp-for="TestimonialComment" rows="5" class="form-control" required></textarea>
        <br />
        <label>Referans Ünvanı</label>
        <input type="text" asp-for="TestimonialTitle" class="form-control" id="floatingInput" placeholder="Referans Ünvanı" />
        <br />
        <label>Referans Görseli</label>
        <br />
        <img src="~/images/@Model.TestimonialImageURL" width="90" />
        <br />
        <br />
        <input type="file" name="image" />
        <br />
        <br />
        <input id="IsHome" asp-for="IsHome" type="checkbox" />
        <label for="IsHome">Ana Sayfa</label>
        <br />
        <br />
        <input id="Status" asp-for="Status" type="checkbox" />
        <label for="Status">Durum</label>
        <br />
        <br />
        <button class="btn btn-success" type="submit"><i class="fas fa-pen"></i> Referans Güncelle</button>
    </form>
    <br />
</div>