@model Baker.WebUI.Mediator.Commands.TeamCommands.CreateTeamCommand

@{
    ViewData["Title"] = "CreateTeam";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <br />
    <h1>Takım Arkadaşı Ekleme</h1>
    <br />
    <form method="post" enctype="multipart/form-data">
        <label>Ad Soyad</label>
        <input type="text" name="TeamFullName" class="form-control" />
        <br />
        <label>Ünvan</label>
        <input type="text" name="TeamTitle" class="form-control" />
        <br />
        <label>Çalışan Görseli</label>
        <br />
        <input type="file" name="image" />
        <br />
        <br />
        <input asp-for="IsHome" type="checkbox" />
        <label for="IsHome">Ana Sayfa</label>
        <br />
        <br />
        <input asp-for="Status" type="checkbox" />
        <label for="Status">Durum</label>
        <br />
        <br />
        <button class="btn btn-primary">Kaydet</button>
    </form>
</div>