<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/AdminLTE-3.2.0/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard<i class="right fas fa-angle-left"></i></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/AdminProduct/Index" class="nav-link">
                    <i class="nav-icon fas fa-box"></i>
                    <p>Ürünler<i class="right fas fa-angle-left"></i></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/About/Index" class="nav-link">
                    <i class="nav-icon fas fa-info-circle"></i>
                    <p>Hakkımızda<i class="right fas fa-angle-left"></i></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/AboutItem/Index" class="nav-link">
                    <i class="nav-icon fas fa-list"></i>
                    <p>Öne Çıkan Özelliklerimiz<i class="right fas fa-angle-left"></i></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Service/Index" class="nav-link">
                    <i class="nav-icon fas fa-tools"></i>
                    <p>Hizmet<i class="right fas fa-angle-left"></i></p>
                </a>
            </li>

            <li class="nav-item ">
                <a href="/Admin/Testimonial/Index" class="nav-link">
                    <i class="nav-icon fas fa-quote-left"></i>
                    <p>Referans<i class="right fas fa-angle-left"></i></p>
                </a>
            </li>

            <li class="nav-item ">
                <a href="/Admin/Team/Index" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Takım Arkadaşları<i class="right fas fa-angle-left"></i></p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Admin/Contact/Index" class="nav-link">
                    <i class="nav-icon fas fa-envelope"></i>
                    <p>İletişim<i class="right fas fa-angle-left"></i></p>
                </a>
            </li>

            <!-- Referans -->
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->